
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
    background-color: #1d2634;
    color: #9e9ea4;
}
.material-icons-outlined{
    vertical-align: middle;
    line-height: 1px;
    font-size: 2rem;
}

